# OS junk files
*.DS_Store
[Tt]humbs.db

# swap file
*~
*.swp
*.swp

# plugins
bundle/FuzzyFinder/
bundle/L9/
bundle/MatlabFilesEdition/
bundle/PIV/
bundle/argokai/
bundle/bufkill.vim/
bundle/ctrlp.vim/
bundle/detectindent/
bundle/emmet-vim/
bundle/gundo.vim/
bundle/neocomplcache.vim/
bundle/nerdtree/
bundle/phpfolding.vim/
bundle/rename.vim/
bundle/snipmate.vim/
bundle/syntastic/
bundle/tagbar/
bundle/tcomment_vim/
bundle/vim-colors-solarized/
bundle/vim-colorschemes/
bundle/vim-commentary/
bundle/vim-easymotion/
bundle/vim-endwise/
bundle/vim-fontsize/
bundle/vim-fswitch/
bundle/vim-fugitive/
bundle/vim-git/
bundle/vim-indent-guides/
bundle/vim-latex/
bundle/vim-neatstatus/
bundle/vim-project/
bundle/vim-repeat/
bundle/vim-signify/
bundle/vim-sparkup/
bundle/vim-surround/
bundle/vim-unimpaired/
